# Mark major Python files as linguist-detectable
*.py linguist-detectable

# Reduce HTML impact
templates/**/*.html linguist-vendored

# Reduce CSS impact
static/css/tailwind.css linguist-vendored
static/css/**/*.css linguist-vendored

# Vendor all JavaScript files
static/js/**/*.js linguist-vendored

# Minimize the impact of static assets
static/images/**/* linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.svg linguist-vendored

# Ignore migrations, compiled files, and documentation
migrations/**/* linguist-generated
*.pyc linguist-generated
*.md linguist-documentation
